@import "tailwindcss";


@theme{
    --font-jblack:JostBlack;
    --font-jbold:JostBold;
    --font-jmedium:JostMedium;
    --font-jregular:JostRegular;
}
html{
    scroll-behavior: smooth
}

#chatContainer{
    scroll-behavior: smooth;
}

body{
    @apply font-jregular;
}